---
layout: default
title: GitLab Corporate Philanthropy
description: "Supporting organizations that can further philanthropy at local and global levels."
canonical_path: "/corporate-philanthropy/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
slippers_preflight: true
extra_css:
  - devops-download.css
---
<div
  class="slp-container slp-mx-auto slp-mt-32 md:slp-mt-96 slp-mb-64 md:slp-mb-160"
>
  <img src="/images/icons/slp-handshake.svg" alt="test" class="slp-mx-auto" />
  <h1
    class="slp-text-3xl md:slp-text-5xl slp-text-center slp-text-black slp-pb-16 md:slp-pb-32"
  >
    Corporate Philanthropy
  </h1>
  <p
    class="slp-text-md md:slp-text-xl slp-text-center slp-mx-auto slp-max-w-5xl slp-text-black"
  >
    As part of our mission to create a world where everyone can contribute, we
    believe it is important to support organizations that can further this goal
    at local and global levels.
  </p>
  <div
    class="slp-grid md:slp-grid-cols-2 slp-justify-center slp-mt-64 md:slp-items-center"
  >
    <img src="/images/icons/slp-love-gitlab.svg" alt="test" />
    <p
      class="slp-text-base md:slp-text-lg slp-text-center slp-text-black md:slp-text-left md:slp-grid md:slp-order-first md:slp-max-w-3xl"
    >
      Our board of directors approved the reservation of up to 1,635,545 shares
      of Class A common stock for the issuance to charitable organizations, to
      be further designated by our board of directors.
    </p>
  </div>
</div>
